/******************************************************************************
 *
 * slender-color-schemes.css
 * Based on base16 color scheme by @chriskempson
 * http://chriskempson.github.io/base16/#default
 *
 *****************************************************************************/

header, footer {
    background-color: #000;
    color: #FFF;
}

header a, footer a {
    color: #FFF;
}

#article-listing a{
	color: #000;
}

.article-read-more a,
.pagination li a {
    color: #151515;
}

.article-read-more a:hover,
.pagination li a {
    background-color: #151515;
    color: #FFF;
    padding: 2px 4px;
}
